<div class="absolute m-auto top-0 bottom-0 left-0 right-0 bg-slate-50">
  <ul
    class="flex h-full w-full justify-around text-3xl font-bold items-center flex-col space-y-10"
  >
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/authors">Authors</a>
    </li>
    <li>
      <a href="/reviews">Reviews</a>
    </li>
  </ul>
</div>
