---
import Layout from "../layouts/Layout.astro";
import BookLayout from "../components/BookLayout.astro";
import { books } from "../../src/assets/data/books";
---

<Layout title="Books">
  <div class="h-full">
    <article class="px-8 mb-8">
      <h1 class="text-xl font-bold">Reading strengthens your brain</h1>
      <p class="py-2">
        A growing body of research indicates that reading literally changes your
        mind. Using MRI scans, researchers have confirmed that reading involves
        a complex network of circuits and signals in the brain. As your reading
        ability matures, those networks also get stronger and more
        sophisticated.
      </p>
      <p>
        In one study conducted in 2013, researchers used functional MRI scans to
        measure the effect of reading a novel on the brain. Study participants
        read the novel “Pompeii” over a period of 9 days. As tension built in
        the story, more and more areas of the brain lit up with activity.
      </p>
    </article>
    <figure class="px-8 text-cente h-24 text-lg pt-6 pb-28">
      <p>Here are some recomendations when it comes to reading:</p>
    </figure>
    <section>
      <ul>
        {
          books.map((el, i) => (
            <li>
              <BookLayout
                image={el.image}
                description={el.description}
                name={el.name}
                isLeft={Boolean(i % 2)}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
