---
---

<nav
  class="relative flex justify-between py-7 px-10 mb-16 bg-black text-white shadow-lg"
>
  <div><img class="h-8" src="/Logo.png" /></div>
  <ul class="hidden md:flex space-x-10 pr-10">
    <li>
      <a class="py-1 px-4 border border-inherit" href="/">Home</a>
    </li>
    <li>
      <a class="py-1 px-4 border border-inherit" href="/authors">Authors</a>
    </li>
    <li>
      <a class="py-1 px-4 border border-inherit" href="/reviews">Reviews</a>
    </li>
  </ul>
  <a href="/burgerMenu" class="md:hidden">
    <div class="space-y-1 cursor-pointer">
      <span class="block h-0.5 w-8 bg-white"></span>
      <span class="block h-0.5 w-8 bg-white"></span>
      <span class="block h-0.5 w-8 bg-white"></span>
    </div>
  </a>
</nav>
